body {
  background-color: lightblue;
}

.navBar {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.navBar h6 {
  font-size: 18px !important;
  color: #000000;
  margin: 10px;
  text-align: center;
}

/*START NAV BAR HOMEPAGE*/
.bubble a {
  text-decoration: none;
}

.bubble {
  box-shadow: inset 30px 30px 75px rgba(0, 0, 0, .1),
    inset 0px 0px 15px rgba(0, 0, 0, .5),
    inset 0px 0px 55px rgba(255, 255, 255, .5),
    inset 3px 3px 5px rgba(0, 0, 0, .5),
    0 0 50px rgba(255, 255, 255, .3);
  border-radius: 100px;
  background: rgba(255, 255, 255, .4);
}

/* START BUBBLE 1 */
.bubble1 {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 0;
  position: relative;
  align-self: flex-start;
  left: 100px;
}

/* glow left right of the bubble */
.bubble1:before {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 70px;
  top: 15px;
  left: 15px;
  border-radius: 150px 50px;
  box-shadow: inset 10px 10px 50px rgba(255, 255, 255, .6);
}

/* dark circle inside the bubble */
.bubble1:after {
  content: "";
  display: block;
  position: absolute;
  width: 120px;
  height: 120px;
  border-radius: 170px;
  left: 15px;
  top: 15px;
  box-shadow: inset 0px -10px 10px rgba(0, 0, 0, .05);
}

/* END BUBBLE 1 */
/* START BUBBLE 2 */
.bubble2 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0;
  position: relative;
  align-items: flex-end;
  left: 212px;
  top: -18px;
}

/* glow left right of the bubble */
.bubble2:before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 15px;
  left: 15px;
  border-radius: 150px 50px;
  box-shadow: inset 10px 10px 50px rgba(255, 255, 255, .6);
}

/* dark circle inside the bubble */
.bubble2:after {
  content: "";
  display: block;
  position: absolute;
  width: 76px;
  height: 76px;
  border-radius: 170px;
  left: 11px;
  top: 13px;
  box-shadow: inset 0px -10px 10px rgba(0, 0, 0, .05);
}

/* END BUBBLE 2 */
/* START BUBBLE 3*/
.bubble3 {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 0;
  position: relative;
  align-items: flex-end;
  top: -48px;
  left: 317px;
}

/* glow left right of the bubble */
.bubble3:before {
  content: "";
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 15px;
  left: 15px;
  border-radius: 150px 50px;
  box-shadow: inset 10px 10px 50px rgba(255, 255, 255, .6);
}

/* dark circle inside the bubble */
.bubble3:after {
  content: "";
  display: block;
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 170px;
  left: 11px;
  top: 11px;
  box-shadow: inset 0px -10px 10px rgba(0, 0, 0, .05);
}

/* END BUBBLE 3 */
/* END NAV BAR HOMEPAGE*/
/* START NAV BAR REST OF PAGES*/
.menu1, .menu2, .menu3 {
  margin: 10px 0;
}

/* END NAV BAR REST OF PAGES*/
/* START CONTACT PAGE*/
h1 {
  color: yellow;
}

.formBlock {
  top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}

.left, .right {
  width: 50% !important;
  margin: 0 20px;
}

.formBlock iframe {
  padding-right: 50px;
}

.formSection {
  top: 16px;
  position: relative;
  align-items: center;
}

#regForm {
  text-align: center;
}

iframe {
  text-align: center;
}

input, textarea {
  width: 274px;
  height: 50px;
  font-size: 18px;
}

textarea {
  height: 170px !important;
  resize: none
}

#submitButton {
  cursor: pointer;
}

/* END CONTACT PAGE*/